root = true

[*]
guidelines = 80
guidelines_style = 1px solid 999999
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.xaml]
guidelines = 80, 120
indent_style = tab
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.cs]
guidelines = 80, 120
indent_style = tab
indent_size = 4

# IDE rules

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = none
