export BUILD_ENVIRONMENT=local
export COMMIT_IDENTIFIER=local
export CSC_FOR_PULL_REQUEST=true

export SENTRY_ELECTRON_APP_API_KEY=$SENTRY_BEAK_API_KEY
export SENTRY_WEBSITE_API_KEY=$SENTRY_BEAK_API_KEY
