{
	"extends": "eslint:recommended",
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./",
		"tsconfigRootDir": "./tsconfig.json",

		"ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true
		}
	},

	"plugins": [
		"@typescript-eslint",
		"react-hooks",
		"react",
		"simple-import-sort"
	],


	"env": {
		"node": true,
		"es6": true,
		"browser": true,
		"shared-node-browser": true
	},

	"globals": {
		"process": false
	},

	"rules": {
		"accessor-pairs": 1,
		"array-bracket-spacing": 1,
		"array-callback-return": 1,
		"arrow-body-style": 1,
		"arrow-parens": [1, "as-needed"],
		"arrow-spacing": 1,
		"block-scoped-var": 1,
		"block-spacing": 1,
		"brace-style": 1,
		"camelcase": "off",
		"comma-dangle": ["error", "always-multiline"],
		"comma-spacing": 1,
		"comma-style": 1,
		"computed-property-spacing": 1,
		"consistent-return": 1,
		"consistent-this": [1, "that"],
		"curly": [1, "multi-or-nest", "consistent"],
		"default-case": 1,
		"dot-notation": [1, { "allowPattern": "^[a-z]+(_[a-z]+)+$" }],
		"eol-last": 1,
		"eqeqeq": [1, "allow-null"],
		"func-names": 1,
		"func-style": [1, "declaration", { "allowArrowFunctions": true }],
		"generator-star-spacing": [1, { "before": false, "after": true }],
		"global-require": 1,
		"guard-for-in": 1,
		"handle-callback-err": 1,
		"id-blacklist": [1, "err", "cb", "data"],
		"indent": "off",
		"jsx-quotes": 1,
		"key-spacing": 1,
		"keyword-spacing": 1,
		"linebreak-style": 1,
		"lines-around-comment": 1,
		"max-depth": 1,
		"max-len": ["warn", {
			"ignoreUrls": true,
			"code": 120,
			"ignoreStrings": true,
			"ignoreTemplateLiterals": true,
			"ignoreTrailingComments": true
		}],
		"max-nested-callbacks": [1, 3],
		"max-statements-per-line": 1,
		"new-parens": 1,
		"newline-per-chained-call": 1,
		"no-alert": 1,
		"no-array-constructor": "off",
		"no-await-in-loop": 1,
		"no-bitwise": 1,
		"no-caller": 1,
		"no-catch-shadow": 1,
		"no-confusing-arrow": 0,
		"no-console": 1,
		"no-div-regex": 1,
		"no-duplicate-imports": 1,
		"no-else-return": 1,
		"no-empty-function": 1,
		"no-eval": 1,
		"no-extend-native": 1,
		"no-extra-bind": 1,
		"no-extra-label": 1,
		"no-floating-decimal": 1,
		"no-implicit-coercion": 1,
		"no-implicit-globals": 1,
		"no-implied-eval": 1,
		"no-invalid-this": 0,
		"no-iterator": 1,
		"no-label-var": 1,
		"no-lone-blocks": 1,
		"no-lonely-if": 1,
		"no-loop-func": 1,
		"no-magic-numbers": 0,
		"no-mixed-requires": 1,
		"no-mixed-spaces-and-tabs": 1,
		"no-multi-spaces": 1,
		"no-multi-str": 1,
		"no-multiple-empty-lines": [1, { "max": 1 }],
		"no-native-reassign": 1,
		"no-negated-condition": 1,
		"no-nested-ternary": 1,
		"no-new-func": 1,
		"no-new-object": 1,
		"no-new-require": 1,
		"no-new-wrappers": 1,
		"no-new": 1,
		"no-octal-escape": 1,
		"no-param-reassign": [1, { "props": true }],
		"no-path-concat": 1,
		"no-plusplus": [1, { "allowForLoopAfterthoughts": true }],
		"no-process-env": 0,
		"no-process-exit": 1,
		"no-proto": 1,
		"no-return-assign": 1,
		"no-script-url": 1,
		"no-self-compare": 1,
		"no-sequences": 1,
		"no-shadow-restricted-names": 1,
		"no-spaced-func": 1,
		"no-sync": 1,
		"no-throw-literal": 1,
		"no-trailing-spaces": 1,
		"no-undef-init": 1,
		"no-undefined": 1,
		"no-unmodified-loop-condition": 1,
		"no-unneeded-ternary": 1,
		"no-unsafe-finally": 1,
		"no-unused-expressions": 1,
		"no-unused-vars": "off",
		"no-use-before-define": [1, { "functions": false }],
		"no-useless-call": 1,
		"no-useless-catch": 0,
		"no-useless-computed-key": 1,
		"no-useless-concat": 1,
		"no-useless-constructor": 1,
		"no-useless-escape": 1,
		"no-var": 1,
		"no-warning-comments": 1,
		"no-whitespace-before-property": 1,
		"no-with": 1,
		"object-curly-spacing": [1, "always", { "arraysInObjects": true, "objectsInObjects": true }],
		"object-shorthand": 1,
		"one-var": [1, "never"],
		"operator-assignment": 1,
		"operator-linebreak": [1, "none"],
		"padded-blocks": [1, "never"],
		"padding-line-between-statements": [
			"error",
			{ "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
			{ "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
			{ "blankLine": "always", "prev": "*", "next": "return" }
		],
		"prefer-arrow-callback": 1,
		"prefer-const": 1,
		"prefer-rest-params": 1,
		"prefer-spread": 1,
		"prefer-template": 1,
		"quote-props": [1, "consistent-as-needed"],
		"quotes": [1, "single"],
		"radix": 1,
		"require-yield": 1,
		"semi": [1, "always"],
		"sort-imports": 0,
		"space-before-blocks": 1,
		"space-before-function-paren": [1, {"anonymous": "always", "named": "never"}],
		"space-in-parens": 1,
		"space-infix-ops": 1,
		"space-unary-ops": 1,
		"spaced-comment": 1,
		"template-curly-spacing": 1,
		"vars-on-top": 1,
		"wrap-iife": 1,
		"wrap-regex": 1,
		"yield-star-spacing": 1,
		"yoda": 1,

		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/no-multi-comp": 0,
		"react/prop-types": 0,
		"react/no-unsafe": [1, { "checkAliases": true }],

		"simple-import-sort/sort": 1,

		"@typescript-eslint/adjacent-overload-signatures": "error",
		"@typescript-eslint/array-type": "error",
		"@typescript-eslint/ban-types": "error",
		"@typescript-eslint/consistent-type-assertions": "error",
		"@typescript-eslint/indent": [1, "tab", { "SwitchCase": 1 }],
		"@typescript-eslint/member-delimiter-style": "error",
		"@typescript-eslint/member-naming": "off",
		"@typescript-eslint/naming-convention": ["error",
			{
				"selector": "default",
				"format": ["camelCase"],
				"filter": {
					"regex": "^UNSAFE_",
					"match": false
				}
			},
			{ "selector": "variable", "format": ["camelCase", "UPPER_CASE", "PascalCase"] },
			{
				"selector": "parameter",
				"format": [],
				"leadingUnderscore": "allow"
			},
			{
				"selector": "property",
				"format": [],
				"leadingUnderscore": "allow"
			},
			{
				"selector": "function",
				"format": ["camelCase", "PascalCase"]
			},
			{ "selector": "typeLike", "format": ["PascalCase"] }
		],
		"@typescript-eslint/no-array-constructor": "error",
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-inferrable-types": "error",
		"@typescript-eslint/no-misused-new": "error",
		"@typescript-eslint/no-namespace": "error",
		"@typescript-eslint/no-parameter-properties": "error",
		"@typescript-eslint/triple-slash-reference": [1, { "path": "never", "types": "never", "lib": "never" }],
		"@typescript-eslint/no-unused-vars": "warn",
		"@typescript-eslint/no-use-before-define": [1, { "functions": false }],
		"@typescript-eslint/no-var-requires": "error",
		"@typescript-eslint/restrict-plus-operands": "error",
		"@typescript-eslint/type-annotation-spacing": "error"
	}
}
