# System files
.DS_Store
Thumbs.db

# Node
node_modules/

# Environment
.vscode/

# TS/Webpack/React/Electron transpiling nonsense
dist-electron/
dist/
dist-ts/
dist-react/
tsconfig.tsbuildinfo

# Beak
.beak
